<?xml version="1.0"?>
<!-- Note - This is the launch file used by upstart on booting the pionoeers -->
<launch>

 <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery" output="screen">
   <param name="mcast_group" value="224.0.0.1" />
 </node>

 <node name="master_sync" pkg="master_sync_fkie" type="master_sync" output="screen">
   <!-- This list with names of ROS master to synchronize. Only this ROS master in this list will be synchronized. The ~ignore_hosts list is processed first. -->
   <rosparam param="ignore_hosts">[192.168.11.60, 192.168.11.61, 192.168.11.63,192.168.11.64, 192.168.11.66, 192.168.11.67]</rosparam>


 </node>


</launch>
